* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Alica;
  src: url('fonts/alice-regular-webfont.woff2') format('woff2'), url('fonts/alice-regular-webfont.woff') format('woff'), url('fonts/Alice-Regular-webfont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
.primary-0 {
  color: #ffff00;
}
/* Основной Цвет */
.primary-1 {
  color: #999933;
}
.primary-2 {
  color: #666600;
}
.primary-3 {
  color: #ffff99;
}
.primary-4 {
  color: #ffffff;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: #FFFF99;
  font-family: Alica, 'Times New Roman', Times, serif;
}
body .container,
html .container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #FFFFFF;
  padding: 0;
}
body .container .header,
html .container .header {
  flex: 0 0 auto;
  min-height: 200px;
  height: 400px;
  background-color: #ffff00;
  background: linear-gradient(to bottom, #ffff00, #ffff00 40%, #ffff99);
  text-align: center;
  color: #323232;
}
body .container .header a#buttonUp,
html .container .header a#buttonUp {
  color: #fff;
  display: block;
  position: fixed;
  bottom: 85px;
  right: 85px;
  z-index: 1000;
  z-index: 1004;
  width: 68px;
  height: 48px;
  background: #666600;
  border-radius: 50%;
  padding-top: 10px;
  text-decoration: none;
  text-align: center;
}
body .container .header h1,
html .container .header h1 {
  margin-top: 120px;
  text-shadow: 2px 1px 2px rgba(102, 102, 0, 0.8);
  color: #646464;
}
body .container .content,
html .container .content {
  flex: 1 0 auto;
  padding: 20px;
  text-align: center;
}
body .container .content #works,
html .container .content #works {
  min-height: 400px;
  margin: 0 auto;
}
body .container .content #works ul,
html .container .content #works ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
body .container .content #works ul li,
html .container .content #works ul li {
  list-style-type: none;
}
body .container .content #works ul li a,
html .container .content #works ul li a {
  display: block;
  min-height: 200px;
  max-width: 200px;
  border: 2px solid #666600;
  background: linear-gradient(to top, #ffff99, #ffffff);
  margin: 20px;
  padding: 10px;
}
body .container .content #works ul li a p,
html .container .content #works ul li a p {
  color: #323232;
}
body .container .content #works ul li a:hover,
html .container .content #works ul li a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  text-decoration: none;
}
body .container .content #contact,
html .container .content #contact {
  height: 400px;
}
body .container .content h2,
html .container .content h2 {
  color: #666600;
  text-transform: uppercase;
}
body .container .footer,
html .container .footer {
  flex: 0 0 auto;
  min-height: 100px;
  background-color: #999933;
  text-align: center;
  padding: 20px;
  font-size: 10px;
  text-align: right;
}
@media screen and (max-width: 400px) {
  .container {
    max-width: 300px;
  }
  html .container .header a#buttonUp {
    display: none;
  }
  html .container .content #works ul {
    flex-direction: column;
  }
}
