* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  background-color: #FFFF99;
}
body .container,
html .container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #FFFFFF;
}
body .container .header,
html .container .header {
  flex: 0 0 auto;
  height: 200px;
  background-color: #CCFF33;
  text-align: center;
  width: 100%;
}
body .container .header h1,
html .container .header h1 {
  margin-top: 50px;
}
body .container .content,
html .container .content {
  flex: 1 0 auto;
  padding: 20px;
}
body .container .footer,
html .container .footer {
  flex: 0 0 auto;
  height: 100px;
  background-color: #CCFF33;
  text-align: center;
  padding: 20px;
}
