@charset "UTF-8";
/* сброс стилей браузера */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* конец кода сброса стилей браузера */
@font-face {
  font-family: Alica;
  src: url("style/fonts/alice-regular-webfont.woff2") format("woff2"), url("style/fonts/alice-regular-webfont.woff") format("woff"), url("style/fonts/Alice-Regular-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
  width: 100%;
  font-family: Alica, 'Times New Roman', Times, serif;
  font-size: 1.1em;
  background-color: #ffff99;
}

body .container {
  min-width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: white;
}

body .container .block {
  min-height: 400px;
  margin: 0 auto;
}

body .container .header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 200px;
  height: 300px;
  background-color: yellow;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 0, 0.8)), color-stop(40%, rgba(255, 255, 0, 0.8)), to(rgba(255, 255, 153, 0.8))), url(../image/background/pattern.png) repeat left top;
  background: linear-gradient(to bottom, rgba(255, 255, 0, 0.8), rgba(255, 255, 0, 0.8) 40%, rgba(255, 255, 153, 0.8)), url(../image/background/pattern.png) repeat left top;
  text-align: center;
  color: #323232;
}

body .container .header h1 {
  margin-top: 80px;
  text-shadow: 2px 1px 2px #666600;
  color: #464646;
  font-size: 2.5em;
}

body .container .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 20px;
  text-align: center;
}

body .container .content #works ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .container .content #works ul li {
  list-style-type: none;
}

body .container .content #works ul li a {
  display: block;
  min-height: 200px;
  max-width: 200px;
  border: 2px solid #666600;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffff99), to(white));
  background: linear-gradient(to top, #ffff99, white);
  margin: 20px;
  padding: 10px;
}
/*# sourceMappingURL=prstyle.css.map */