@import 'helpers/variables';
@import 'helpers/mixins';
@import 'base/reset';
@import 'base/typografics';
body{
    height: 100%;
    width: 100%;
    font-family: Alica, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    background-color: $second-lightcolor;
    .container{
        min-width: 100%;
        padding: 0;
        @include flexbox; 
        flex-flow: column nowrap;
       // min-height: 100%;
        background-color: $primary-lightcolor;
        .block {
            min-height: 400px;
            margin: 0 auto;
            h2{
                text-transform: uppercase;
                color:$primary-darkcolor; 
            }
            }
        .header{
            flex: 0 0 auto;
            min-height: 200px;
            height: 300px;
            background-color: $primary-color;
            background:  linear-gradient(to bottom, rgba(255, 255,   0, .8), rgba(255, 255,   0, .8) 40%, rgba(255, 255, 153, .8)), url(../image/background/pattern.png) repeat left top;
            text-align: center;
            color: $color-text;
            h1{
                margin-top: 80px;
                text-shadow: 2px 1px 2px $primary-darkcolor;
                color: $color-logo;
                font-size: 2.5em;
            }
        }
        .content{
            flex: 1 0 auto;
            padding: 20px;
            text-align: center; 
            
            #works ul{
                display: flex;
                justify-content: center;
                flex-direction: row;
                li{
                    list-style-type: none;
                    a{
                        display: block;
                        min-height: 200px;
                        max-width:200px; 
                        border:2px solid  $primary-darkcolor;
                        background: $primary-lightcolor;
                        background: linear-gradient(to top, $second-lightcolor, $primary-lightcolor);
                        margin: 20px;
                        padding: 10px; 
                        p{
                        color:$color-text;
                        }
                        &:hover{
                        -webkit-transform: scale(1.2);
                        transform: scale(1.2);
                        text-decoration: none;
                        }   
                    }
                }
            }
            #contact ul{
                display: flex;
                justify-content: center;
                flex-direction: row;
                list-style-type: none;
                li{
                    margin: 20px 40px;
                }
            }

        }
    
    }

}