@font-face{
    font-family: Alica;
    src: url('style/fonts/alice-regular-webfont.woff2') format('woff2'),
        url('style/fonts/alice-regular-webfont.woff') format('woff'),
        url('style/fonts/Alice-Regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}