$primary_color: rgba(255, 255,   0, 1);
$second-darkcolor: rgba(153, 153,  51, 1);
$primary-darkcolor: rgba(102, 102,   0, 1);
$second-lightcolor: rgba(255, 255, 153, 1);
$primary-lightcolor: rgba(255, 255, 255, 1);
$color-text:rgb(50, 50, 50);
$color-logo: rgb(70, 70, 70);